@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --white-color: #fff;
  --dark-color: #111;
}

html {
  font-size: 62.5%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  opacity: .8;
  z-index: 99999;
  transition: .3s;

}

header h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 0.8rem;
}

header h1 a {
  text-decoration: none;
  color: inherit;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style-type: none;
  margin-left: 20px;
}

header ul li:hover {
  transition: all .9s ease-in-out;
  border-bottom: 1px solid #eee;
}

header ul li a {
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  /* display: block; */
}

.bg {
  height: 100vh;
  background: url(banner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.bg::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: linear-gradient(to top, #111, transparent);
}

.scroll {
  padding: 20px 100px;
  background-color: var(--white-color);
}

.scroll a {
  color: var(--dark-color);
}

.intro {
  background-color: var(--dark-color);
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 100px 100px;
}

.intro h2 {
  text-align: center;
}
.conteudo {
  color: #fff;
  font-size: 1.5rem;
}
.conteudo h2 {
  text-align: start;
  font-size: 3rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.conteudo p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

section img {
  margin: auto;
  max-width: 350px;
  opacity: .7;
  transition: all .3s;
  margin-left: 30px;
}

img:hover {
  opacity: 1;
  cursor: pointer;
}
.top3 {
  height: 100vh;
  width: 100%;
  background-color: yellow;
}
.top3 a { /*centralizar*/
  margin: 0 auto;
  background-color: red;
  display: block;
  width: 100px;
}

