* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #333;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {

  background-color: #fff;
  width: 50rem;
  min-height: 50rem;
  padding: 2rem;
  border-radius: 1rem;
  margin: 2rem;
}

.container h1 {
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin: .8rem 0;
  text-align: center;
  font-size: 2rem;
}

.container ul {
  padding: 1rem;
  margin-bottom: .7rem;
}

.container ul li {
  font-size: 1.3rem;
  letter-spacing: .1rem;
  line-height: 1.7rem;
  color: rgb(9, 64, 68);
}

.formulario {
  /* background-color: yellow; */
  /* padding: .5rem; */
  width: 100%;
}

.formulario div {
  /* width: 100%; */
  margin-bottom: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario label {
  text-transform: uppercase;
  margin-bottom: .2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.formulario input {
  padding: .3rem 0;
  font-size: 2rem;
  outline: none;
  
  
}

/* .formulario .button {
  width: 100%;
  background-color: blue;
  display: flex;
  align-items: flex-end;
} */

.formulario button {
  display: block;
  padding: .3rem;
  background-color: #333;
  text-transform: uppercase;
  width: 100%;
  border: transparent;
  color: #fff;
  /* margin: 0 auto; */
}
.formulario button:hover{
  cursor: pointer;
}
.error-text {
  color: red;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}